.policies {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ef7800; /* Orange background */
    padding: 20px 40px;
    flex-wrap: wrap;
}

.policies__item {
    display: flex;
    align-items: center;
    color: #fff;
    margin: 10px 20px;
}

.policies__icon {
    font-size: 30px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.policies__text h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.policies__text p {
    margin: 0;
    font-size: 14px;
}

@media (max-width: 768px) {
    .policies {
        flex-direction: column;
        text-align: center;
    }

    .policies__item {
        justify-content: center;
    }

    .policies__icon {
        margin-right: 10px;
    }
}