.shop_layout {
    width: 100vw;
    margin: 0;
    display: grid;
    min-height: 100vh;
    background-color: #FFFFFF;
    box-sizing: border-box;
    grid-template-columns: minmax(0px,140px) repeat(8, 205px) minmax(0px, 140px);
    grid-template-rows: 65px auto 575px;
}
nav {
    grid-column: 1/-1;
    grid-row: 1/2;
    border: 1px solid black;
}
main {
    grid-column: 1/-1;
    grid-row: 2/3;
}
footer {
    grid-column: 1/-1;
    grid-row: 3/4;
    background-color: #292929;
}
