.top-bar {
  background-color: #EC720E;
  color: white;
  text-align: center;
  padding: 5px 30px;
  font-size: 14px;
}

.main-header {
  background-color: white;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
.main-header.scrolled {
  top: 0;
  transition: top 0.2s;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  font-size: 24px;
  margin-right: 5px;
  color: #B3540E;
}
.logo-icon img {
  max-width: 145px;
  width: 100%;
  height: auto;
}
.logo-text {
  color: white;
  font-weight: bold;
}

.logo-bold {
  color: #B3540E;
}

.nav {
  border: none;
}
.nav a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav a:hover {
  text-decoration: underline;
}

.icons {
  display: flex;
  align-items: center;
}

.icons span {
  margin-left: 15px;
  cursor: pointer;
  color: black;
}
.icons .cart {
  margin-left: 15px;
  position: relative;
  cursor: pointer;
  color: black;
}
.cart-count {
  background: #EC720E;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  position: absolute;
  top: -8px;
  right: -10px;
  color: white !important;
}

.offcanvas-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  margin-right: 16px;
  padding: 0;
}

@media (max-width: 900px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .offcanvas-toggle {
    display: block;
  }
}