.flash-sale-watched-container {
    width: 100%;
    max-width: 1640px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, minmax(259.994px, 1fr));
    justify-content: center;
    margin: 0 auto;
    justify-items: center;
}
.watched-item {
    width: 259.994px;
    height: 401px;
    padding: 1rem;
}
.watched-item img {
    width: 172.494px;
    height: 172.494px;
}
.watched-item h5:hover {
    cursor: pointer;
    color: #ec720e;
}
.watched-img {
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.watched-img img:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.watched-sale-num {
    background-color: red;
    color: white;
    border-radius: 15px;
    width: 50px;
    height: 25px;
    text-align: center;
}
.watched-original-price {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
@media (max-width: 1313px) {
    .flash-sale-watched-container {
        grid-template-columns: repeat(3, minmax(259.994px, 1fr));

    }
}
@media (max-width: 915px) {
    .flash-sale-watched-container {
        grid-template-columns: repeat(2, minmax(259.994px, 1fr));
    }
}

@media (max-width: 615px) {
    .flash-sale-watched-container {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }
    .coupon__details {
        width: 100%;
        height: auto;
    }
}
.watched-smallPics {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.watched-smallPics img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #c8c8c8;
}
.watched-smallPics img:hover {
    cursor: pointer;
    transform: scale(1.05);
}