.most-viewed-container {
  padding: 35px 1rem;
  max-width: 1600px;
  width: 100%;
}

.mv-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}

.video-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  overflow-x: auto;
  max-width: 1600px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.video-element {
  max-width: 340px;
  min-height: 340px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
